/* *{
  outline: 1px solid ;
} */

header h1.on {
  color: pink;
}

header h2.on {
  color: pink;
}

.GNB {
  border-top: 5px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.GNB a {
  display: block;
}

.GNB>ul {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.GNB>ul>li {
  position: relative;
}

.GNB>ul>li:hover .smenu {
  top: 45px;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.GNB .smenu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  width: 150px;
  text-align: center;
  border: 4px solid #369;
  line-height: 35px;
  visibility: hidden;
  opacity: 0;
}

.GNB .smenu>li~li {
  border-top: 1px solid #ddd;
}